.usersList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.usersError {
    display: flex;
    justify-content: center;
    color: red;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}
